# Configurações do Perfil AWS e Região Padrão
AWS_PROFILE=default
AWS_DEFAULT_REGION=us-east-1

# Diretórios locais de saída
REPORTS_DIR=./reports
LOGS_DIR=./logs

# Configurações do CloudQuery (Destino SQLite local)
CQ_DESTINATION_PATH=./reports/cloudquery/cloudquery_inventory.db

# Configurações do AWS Billing Data Exports
AWS_BILLING_S3_BUCKET=my-aws-billing-exports-bucket
AWS_BILLING_EXPORT_NAME=standard-cur-export
